.card{
    //for grid purposes
    justify-self: center;
    width: 320px;

    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);

    transition: 0.3s ease;
    border: none !important;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }

    a{
        text-decoration: none;
        color: grey;
    }

}

.productImg{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: aquamarine;

    border-radius: 3%;
}

.productName{
    font-size: 1.1rem;
    color: rgb(90, 90, 90);

    padding: 1.2rem 1rem 0 1rem;
}

.productPrice{
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
}


.addToCartBtn,
.removeBtn{
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    border: 1px solid green;
    border-radius: 5%;
    background-color: white;

    span{
        padding-left: 0.5rem;
    }

    transition: 0.3s ease;

    &:hover{
        cursor: pointer;
        background-color: green;
        color: white;
    }
}

.addItemDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .smallButtons{
        display: flex;
        justify-content: center;
        align-items: center;

        
        margin: 1rem 0;

        .amount{
            font-size: 1.5rem;
        }

        .text{
            margin: 0 1rem;
        }

        .smallBtn{
            font-size: 1rem;
            padding: 0.5rem;
            width: 40px;
            border: 1px solid green;

            &:hover{
                cursor: pointer;
                background-color: green;
                color: white;
                border: 1px solid white;
            }
        }
    }

    .removeBtn{
        font-size: 1rem;
        padding: 1rem;
        background-color: red;
        border: 1px solid red;
    }

}