.card{
    //for grid purposes
    justify-self: center;

    width: 300px;

    transition: 0.3s ease;

    &:hover{
        cursor: pointer;
        transform: scale(1.05);
    }

    a{
        text-decoration: none;
        color: grey;
    }

}

.productImg{
    width: 100%;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: aquamarine;

    border-radius: 3%;
}

.productName{
    font-size: 1.1rem;
    color: rgb(90, 90, 90);
    text-align: center;

    padding-top: 1.2rem;
}

.pricing{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin: 1rem 0;

    .productPrice{
        font-size: 1.1rem;
        padding: 0.5rem 0;
    }

    .quantityInput{

        font-size: 1rem;
        padding: 0.3rem;
        width: 75px;
        text-align: center;
    }

}

.addToCartBtn{
    padding: 1rem 2rem;
    font-size: 1rem;
    border: 1px solid green;
    border-radius: 5%;
    background-color: white;

    span{
        padding-left: 0.5rem;
    }

    transition: 0.3s ease;

    &:hover{
        cursor: pointer;
        background-color: green;
        color: white;
    }
}