.products{
    width: 75%;
    margin: 0 auto; 
    background-color: white;


    @media(max-width: 1600px){
        width: 100%;
        padding: 0 1rem;
    }

    @media(max-width: 1100px){
        width: 100%;
        padding: 0 1rem;
    }

}

h2{
    padding: 2.5rem 0;
    text-align: center;
}


.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;

    @media(max-width: 1150px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width: 800px){
        grid-template-columns: 1fr;
    }

}

