.products{
    width: 75%;
    margin: 0 auto; 
    background-color: white;

}

h2{
    padding: 2.5rem 0;
    text-align: center;
}


.gridContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;

}

