.productDetails{

    margin-top: 100px;
    padding: 3rem;

    display: grid;
    grid-template-columns: 3fr 4fr;
    column-gap: 2rem;

    @media (max-width: 1020px){
        grid-template-columns: 1fr;
        column-gap: 0;
        padding: 1rem;
    }


.productImage{

    display: flex;
    justify-content: center;
    align-items: center;

    .image{

        width: 100%;
        height: 600px;
        background-color: red;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 5%;

        @media (max-width: 1020px){
            width: 60%;
        }

        @media (max-width: 750px){
            width: 100%;
        }

        @media (max-width: 500px){
            height: 350px;
        }
    }
}

.productDescription{

    .detailsProductName{
        color: red;
        
        font-size: 2rem;

        @media (max-width: 1025px){
            padding-top: 3rem;
        }
    }

    .ingredients{
        color: gray;
    }

    .ingredients,
    .description,
    .productPrice,
    .quantityContainer{
        padding-bottom: 1rem;
    }

    .ingredients,
    .productPrice,
    .description,
    .quantityText,
    .quantityInput{
        font-size: 1.1rem;
    }

    .ingredientList{
        list-style: none;
        margin-bottom: 3rem;
    }

    .ingredient{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-bottom: 0.5rem;

        @media(max-width: 550px){
            font-size: 0.8rem;
        }

        span{
            padding-right: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        
    }

    .productPrice{
        padding-top: 2rem;
        border-top: 1px solid grey;
    }
    
}


.btn{
    padding: 0.8rem 2rem;
    font-size: 0.95rem;
    border: 1px solid green;
    border-radius: 5%;
    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    span{
        padding-left: 0.5rem;
    }

    transition: 0.3s ease;

    &:hover{
        cursor: pointer;
        background-color: green;
        color: white;
    }
}

.backToMenuBtn{
    border: 1px solid black;

    &:hover{
        background-color: lightgray;
        color: black;
    }
}

}